doctype html
| <!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="utf-8">
  <title>Atividade de Programação Web</title>
  <link rel="stylesheet" type="text/css" href="C:\Users\airto\Desktop\atv pw css\questão 1\estilos\style.css" />
</head>
    <body>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
        <div class="icone-spirit">Crie Fanfics e Histórias</div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <li><a href="Atv HTML.html">Sobre</a></li>
        <li><a href="b">Segurança</a></li>
        <li><a href="a">Ajuda</a></li>
    </ul>
</div>
</div>
</nav>
<h1 class="title">Crie Fanfics e Histórias</h1>
<p>Plataforma de autopublicação de livros, sejam eles no formato de Fanfics ou de Histórias Originais.</p>
<p>
<a href="cadastro.html" class="btn btn-cadastro">Cadastre-se já grátis!</a>
</p>
<div></div>
<p><a href="login.html" class="btn btn-acesso" title="Acessar sua Conta">Faça seu Login</a></p>
<footer>
    <div>
    <div>
    Crie suas Fanfics e Histórias é uma plataforma para autopublicação de Livros. Solte sua imaginação, escreva suas histórias, tenha sua própria página personalizada, compartilhe idéias, faça amizades.
    </div>
    </div>
    <div class="links bloco2">
    <ul>
    <li><a href="animes.html" title="Categorias de Fanfics de Animes &amp; Mangás">Animes &amp; Mangás</a></li>
    <li><a href="bandas&amp;musicas.html" title="Categorias de Fanfics de Bandas &amp; Músicos">Bandas &amp; Músicos</a></li>
    <li><a href="cartoons.html" title="Categorias de Fanfics de Cartoons">Cartoons</a></li>
    <li><a href="celebridades.html" title="Categorias de Fanfics de Celebridades">Celebridades</a></li>
    <li><a href="filmes.html" title="Categorias de Fanfics de Filmes">Filmes</a></li>
    <li><a href="games.html" title="Categorias de Fanfics de Games">Games</a></li>
    <li><a href="livros.html" title="Categorias de Fanfics de Livros">Livros</a></li>
    <li><a href="mitologias&amp;lendas.html" title="Categorias de Fanfics de Mitologias &amp; Lendas">Mitologias</a></li>
    <li><a href="quadrinhos.html" title="Categorias de Fanfics de Quadrinhos">Quadrinhos</a></li>
    <li><a href="series&amp;tv.html" title="Categorias de Fanfics de Séries, Novelas &amp; TV">Séries TV</a></li>
    <li><a href="media.html" title="Categorias de Fanfics de Youtubers &amp; Social Media Stars">Youtubers</a></li>
    <li><a href="historiasOriginais.html" title="Categorias de Fanfics de Histórias Originais">Histórias Originais</a></li>
    </ul>
    </div>  
    </footer>
    </body>
</html>
head
  meta(charset='utf-8')
  title Atividade de Programa&ccedil;&atilde;o Web
  link(rel='stylesheet' type='text/css' href='C:\Users\airto\Desktop\atv pw css\questão 1\estilos\style.css')
nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      .icone-spirit Crie Fanfics e Hist&oacute;rias
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='Atv HTML.html') Sobre
        li
          a(href='b') Seguran&ccedil;a
        li
          a(href='a') Ajuda
h1.title Crie Fanfics e Hist&oacute;rias
p
  | Plataforma de autopublica&ccedil;&atilde;o de livros, sejam eles no formato de Fanfics ou de Hist&oacute;rias Originais.
p
  a.btn.btn-cadastro(href='cadastro.html') Cadastre-se j&aacute; gr&aacute;tis!
div
p
  a.btn.btn-acesso(href='login.html' title='Acessar sua Conta') Fa&ccedil;a seu Login
footer
  div
    div
      | Crie suas Fanfics e Hist&oacute;rias &eacute; uma plataforma para autopublica&ccedil;&atilde;o de Livros. Solte sua imagina&ccedil;&atilde;o, escreva suas hist&oacute;rias, tenha sua pr&oacute;pria p&aacute;gina personalizada, compartilhe id&eacute;ias, fa&ccedil;a amizades.
  .links.bloco2
    ul
      li
        a(href='animes.html' title='Categorias de Fanfics de Animes & Mangás') Animes &amp; Mang&aacute;s
      li
        a(href='bandas&musicas.html' title='Categorias de Fanfics de Bandas & Músicos') Bandas &amp; M&uacute;sicos
      li
        a(href='cartoons.html' title='Categorias de Fanfics de Cartoons') Cartoons
      li
        a(href='celebridades.html' title='Categorias de Fanfics de Celebridades') Celebridades
      li
        a(href='filmes.html' title='Categorias de Fanfics de Filmes') Filmes
      li
        a(href='games.html' title='Categorias de Fanfics de Games') Games
      li
        a(href='livros.html' title='Categorias de Fanfics de Livros') Livros
      li
        a(href='mitologias&lendas.html' title='Categorias de Fanfics de Mitologias & Lendas') Mitologias
      li
        a(href='quadrinhos.html' title='Categorias de Fanfics de Quadrinhos') Quadrinhos
      li
        a(href='series&tv.html' title='Categorias de Fanfics de Séries, Novelas & TV') S&eacute;ries TV
      li
        a(href='media.html' title='Categorias de Fanfics de Youtubers & Social Media Stars') Youtubers
      li
        a(href='historiasOriginais.html' title='Categorias de Fanfics de Histórias Originais') Hist&oacute;rias Originais
