<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="utf-8">
        <title>Faça o seu login!</title>
        <meta name="theme-color" content="#002F2F"/>
        <link href= "css/style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/cadastro.css" type="text/css"/>
    </head>
    <body>
        <body id="Site" class="nao-logado  locale-pt theme-follow-system">
            <div id="fb-root"></div>
            <div class="navbar navbar-fixed-top">
            <div>
            <ul class="nav pull-left">
            <li class="titulo"><a href="/" title="Crie suas Fanfics e Histórias">Crie suas Fanfics</a></li>
            </ul>
            <ul class="nav pull-right">
            <li class="icones" id="buscar"></li>
            
            <li class="login"><a rel="nofollow" href="" title="Acessar sua Conta">Entre</a></li>
            
            <li class="dropdown">
            <ul class="dropdown-menu">
            
            <li id="theme"><a href="#modalAparencia" data-toggle="modal">Aparência: Padrão do sistema</a></li>
            </ul>
            </li>
            </ul>
            </div>
            </div>
            
            
            <div id="fundo">
            <div id="base"> 
            <header id="cima">
            <div id="logo"></div>
            </header>
            <nav id="nav">
            
            <ul>
            <li><a href="generos.html" title="Ver todos os Gêneros de Fanfics / Fanfictions">Gêneros</a></li>
            <li><a href="categorias.html" title="Ver todas as Categorias de Fanfics / Fanfictions">Categorias</a></li>
            <li class="hidden-xs"><a href="tags.html" title="Ver todas as Tags de Fanfics">Tags</a></li>
            </ul></nav> 
            <div id="capa">
            
            </div>
        <div id="meio">
            <ol id="secaoNav" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a href="/" title="Crie Fanfics e Histórias é uma plataforma para autopublicação de Fanfics e Histórias." itemprop="item"><span itemprop="name">Crie suas Fanfics e Histórias</span></a><meta itemprop="position" content="1"> &gt;</li>
            
            <li><span>Acessar sua Conta</span></li>
            
            </ol>
             
            
            
            
            <div class="clearfix">
            <section class="boxConteudo">
            
            <!--[if lt IE 8]>
            <div class="alert alert-danger clearfix">
            Você está usando um navegador <strong>desatualizado</strong>.<br />
            Por favor, <a href="http://browsehappy.com/" class="link" rel="nofollow">atualize</a> seu navegador para melhorar a sua experiência.
            </div>
            <![endif]-->
            <noscript>
            <div class="alert alert-danger clearfix">
            Seu navegador está com <strong>JavaScript</strong> desativado.<br />
            Por favor ative para melhorar sua experiência no site.
            </div>
            </noscript>
            <!-- google_ad_section_start -->
            
            
            <h2 class="tituloPrincipal">Acessar sua <strong>Conta</strong></h2>
            
            <br>
            <div class="row">
            <div class="col-md-6">
            <form method="post" action="login.html" class="validar" novalidate="novalidate">
            <input type="hidden" name="SessionHash" id="SessionHash" value="83d659c8b2764ceea8e4c9d59f0d6cb9">
            <input type="hidden" name="ReturnUrl" id="ReturnUrl" value="">
            <div class="form-group">
            <strong>Login/Email:</strong><br>
            <input type="text" name="Usuario" id="Usuario" title="Usuário" class="form-control" value="" required="required" autocorrect="none" autocapitalization="on">
            </div>
            <div class="form-group">
            <strong>Senha:</strong><br>
            <input type="password" name="Senha" id="Senha" title="Senha" class="form-control" required="required" autocorrect="none" autocapitalization="on">
            </div>
            <div class="form-group">
            <input type="submit" name="Login" value="Fazer Login" id="Login" class="btn btn-login" style="width: 100%;">
            </div>
            </form>
            <div class="text-center">
            <a href="novasenha.html"><strong>Esqueci minha senha</strong></a><br>
            <a href="signIn"><strong>Não possuo cadastro</strong></a>
            </div>
            </div>
            </div>
            
            
            <!-- google_ad_section_end -->
            </section>
            <aside class="sidebar">
            
            
            
            </aside>
            </div>
            </div>
            </div>
            <footer>
                <div>
                <div>
                Crie suas Fanfics e Histórias é uma plataforma para autopublicação de Livros. Solte sua imaginação, escreva suas histórias, tenha sua própria página personalizada, compartilhe idéias, faça amizades.
                </div>
                </div>
                <div class="links bloco2">
                <ul class="footerLinks">
                <li><a href="animes.html" title="Categorias de Fanfics de Animes &amp; Mangás">Animes &amp; Mangás</a></li>
                <li><a href="bandas&amp;musicas.html" title="Categorias de Fanfics de Bandas &amp; Músicos">Bandas &amp; Músicos</a></li>
                <li><a href="cartoons.html" title="Categorias de Fanfics de Cartoons">Cartoons</a></li>
                <li><a href="celebridades.html" title="Categorias de Fanfics de Celebridades">Celebridades</a></li>
                <li><a href="filmes.html" title="Categorias de Fanfics de Filmes">Filmes</a></li>
                <li><a href="games.html" title="Categorias de Fanfics de Games">Games</a></li>
                <li><a href="livros.html" title="Categorias de Fanfics de Livros">Livros</a></li>
                <li><a href="mitologias&amp;lendas.html" title="Categorias de Fanfics de Mitologias &amp; Lendas">Mitologias</a></li>
                <li><a href="quadrinhos.html" title="Categorias de Fanfics de Quadrinhos">Quadrinhos</a></li>
                <li><a href="series&amp;tv.html" title="Categorias de Fanfics de Séries, Novelas &amp; TV">Séries TV</a></li>
                <li><a href="media.html" title="Categorias de Fanfics de Youtubers &amp; Social Media Stars">Youtubers</a></li>
                <li><a href="historiasOriginais.html" title="Categorias de Fanfics de Histórias Originais">Histórias Originais</a></li>
                </ul>
                </div>  
            </footer>
            
<script>
    let inputs = document.getElementsByClassName('input-form');
        for (let input of inputs) {
        input.addEventListener("blur", function() {
            if(input.value.trim() != ""){
                input.classList.add("has-val");
            } else {
                input.classList.remove("has-val");
            }
            });
    }
</script>
    </body>
</html>