<!DOCTYPE html>
<html lang="UTF-8">
    <head>
        <meta charset="utf-8">
      <title>Atividade de Programação Web</title>
      <link rel="stylesheet" type="text/css" href="css/style.css" />
      <link href= "css/styles.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="sideBar" id="mySideBar" style="display:none">
                <button onclick="sidebar_close()" class="sidebarClose" >Close &times;</button>
                <a href="#" class="bar-item bar-button">Link 1</a>
                <a href="#" class="bar-item bar-button">Link 2</a>
                <a href="#" class="bar-item bar-button">Link 3</a>
            </div>
            <ul class="nav pull-left">
            <!--<li class="btn-sideBar"><button onclick="sidebar_open()">☰</button></li> -->
            <li class="titulo"><a href="/" title="Crie suas Fanfics e Histórias">Crie suas Fanfics</a></li>
            
            </ul>
            <ul class="nav pull-right"
            <li class="login"><a rel="nofollow" href="/login" title="Acessar sua Conta">Entre</a></li>
            
            
            <li class="dropdown">
            <ul class="dropdown-menu">
            
            <li id="theme"><a href="#modalAparencia" data-toggle="modal">Aparência: Padrão do sistema</a></li>
            </ul>
          
            </li>
            <input type="text" placeholder="Search..">
            </ul>
            <nav id="nav">
                <ul>
                <li><a href="generos.html" title="Ver todos os Gêneros de Fanfics / Fanfictions">Gêneros</a></li>
                <li><a href="categorias.html" title="Ver todas as Categorias de Fanfics / Fanfictions">Categorias</a></li>
                <li class="hidden-xs"><a href="tags.html" title="Ver todas as Tags de Fanfics">Tags</a></li>
                </ul>
            </nav>  
            </div>
           
            
        
            <footer>
                <div>
                <div>
                Crie suas Fanfics e Histórias é uma plataforma para autopublicação de Livros. Solte sua imaginação, escreva suas histórias, tenha sua própria página personalizada, compartilhe idéias, faça amizades.
                </div>
                </div>
                <div class="links bloco2">
                <ul class="footerLinks">
                <li><a href="animes.html" title="Categorias de Fanfics de Animes &amp; Mangás">Animes &amp; Mangás</a></li>
                <li><a href="bandas&amp;musicas.html" title="Categorias de Fanfics de Bandas &amp; Músicos">Bandas &amp; Músicos</a></li>
                <li><a href="cartoons.html" title="Categorias de Fanfics de Cartoons">Cartoons</a></li>
                <li><a href="celebridades.html" title="Categorias de Fanfics de Celebridades">Celebridades</a></li>
                <li><a href="filmes.html" title="Categorias de Fanfics de Filmes">Filmes</a></li>
                <li><a href="games.html" title="Categorias de Fanfics de Games">Games</a></li>
                <li><a href="livros.html" title="Categorias de Fanfics de Livros">Livros</a></li>
                <li><a href="mitologias&amp;lendas.html" title="Categorias de Fanfics de Mitologias &amp; Lendas">Mitologias</a></li>
                <li><a href="quadrinhos.html" title="Categorias de Fanfics de Quadrinhos">Quadrinhos</a></li>
                <li><a href="series&amp;tv.html" title="Categorias de Fanfics de Séries, Novelas &amp; TV">Séries TV</a></li>
                <li><a href="media.html" title="Categorias de Fanfics de Youtubers &amp; Social Media Stars">Youtubers</a></li>
                <li><a href="historiasOriginais.html" title="Categorias de Fanfics de Histórias Originais">Histórias Originais</a></li>
                </ul>
                </div>  
                </footer>

        
                <script>
                    function sidebar_open() {
                      document.getElementById("mySideBar").style.display = "block";
                    }
                    
                    function sidebar_close() {
                      document.getElementById("mySideBar").style.display = "none";
                    }
                </script>

    </body>
</html>